<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> does things.
      </h1>
      <%= render 'follow_form' if signed_in? %>
    </td>
    <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
    <% end %>
  </tr>
</table>
<div class="user-footer round">
  <%= render 'shared/user_info' %>
  <%= render 'shared/stats' %>
</div>
