<div class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
</div>
<div class="post">
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Posted in <%= feed_item.created_at.strftime("%B %Y") %>.
    </span>
</div>
  <% if current_user?(feed_item.user) %>
  <div class="delete">
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.content %>
  </div>
  <% end %>