<% if signed_in? %>
  <div class="front" summary="For signed-in users">
      <div class="main">
        <h1 class="micropost">What happened this month?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </div>
  </div>
  <div class="user-footer round">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
  </div>

<% else %>

  <p>Share significant events of your life with people who actually want to read about them. Instead of tweeting or blogging incessantly into the vaccuum, you only write once per month, and only about things that matter to <strong>you</strong>.
  </p>

  <%= link_to "Get Started", signup_path, :class => "signup_button round" %>
<% end %>
