<header>
  <nav class="round">
    <ul>
      <li><h1 class="title"><%= link_to apptitle, root_path %></h1></li>
      <% if signed_in? %>
      <li class="right"><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li class="right"><%= link_to "Sign in", signin_path %></li>
      <% end %>
      <% if signed_in? %>
      <li class="right"><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li class="right"><%= link_to "Everyone", users_path %></li>
      <li class="right"><%= link_to "You", current_user %></li>
      <% end %>
    </ul>
  </nav>
</header>
